body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
.navbar h2 {
  color: #007f62;
  transform: translateX(-40px);
}

.navbar li {
  list-style: none;
  display: inline;
  margin: 0px 15px;
}
.logo {
  top: 0;
  right: 120px;
  position: absolute;
  z-index: -1;
}
.camel-logo img {
  top: 10px;
  right: 120px;
  width: 80px;
  position: absolute;
}
.header-wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar button {
  margin-right: 100px;
}

.orang-btn {
  width: 120px;
  height: 50px;
  color: white;
  border: none;
  outline: none;
  background-image: linear-gradient(to left, #e35325, #ff8a65);
  border-radius: 50px;
}

.main {
  width: 100%;
}
.section1 {
  width: 60%;
  margin: auto;
}

.section1 > .content {
  display: flex;
}

.section1 > .content > .description hr {
  background-color: #007f62;
  margin: 0;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.slides img {
  width: 500px;
}
.slid-count {
  text-align: center;
}
.dot {
  background-color: grey;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.section2 > .waves {
  position: relative;
  z-index: -1;
}
.section2 > .waves img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

#wave-1 {
  left: 0px;
  animation-name: waves-1;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
#wave-2 {
  animation-name: waves-2;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  overflow: hidden;
}

.section2 > .content {
  transform: translateY(300px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section2 > .content > .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 110px;
  height: 650px;
}
.section2 > .content > .icons > .icon-wrapper {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #007f62;
  background-color: white;
}
.section2 > .content > .icons > .icon-wrapper img {
  filter: invert(31%) sepia(50%) saturate(2467%) hue-rotate(144deg)
    brightness(87%) contrast(101%);
  width: 40px;
  height: 40px;
  margin: 15px;
}
.section2 > .content > .icons > .ver-hr {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 3px;
  background-image: radial-gradient(#007f62, white);
  z-index: -1;
}

.section2 > .content > .description {
  width: 430px;
  height: 220px;
}
.section3 > .content > .description h2 {
  color: #007f62;
}
.section3 > .content > .input-box1 {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 410px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: aliceblue;
}

.section3 > .content > .input-box1 input {
  direction: ltr;
  background-color: inherit;
  width: 100%;
  border: none;
  margin: 10px;
  outline: none;
}
.section3 {
  margin-top: 300px;
}
.section3 > .content {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
  transform: translateY(-200px);
  margin: 0px auto;
  width: 70%;
  height: 300px;
  border: 1px solid grey;
}

.section4 {
  height: 150px;
  color: white;
  position: relative;
  text-align: center;
}
.section4 img {
  transform: translateY(-300);
  mix-blend-mode: color;
  margin: 0;
}
.mask1 {
  position: relative;
  mask-mode: luminance;
  -webkit-mask-image: url("./publics/images/022_bg_amadegisafar.svg");
  mask-image: url("./publics/images/022_bg_amadegisafar.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transform: translateY(-150px);
}
.mask-1 {
  background-color: #007f62;
  position: absolute;
}

.section4 > .content {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.already-btn {
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
}

.section5 {
  text-align: center;
  width: 60%;
  margin: auto;
}

.section5 h2 {
  color: #007f62;
}

.section5 > .images img {
  width: 200px;
}

.section5 > .images {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-box {
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
  margin: 100px auto;
  width: 410px;
  height: 50px;
  border-radius: 50px;
}
.section5 > .input-box {
  display: flex;
  justify-content: space-between;
}

.section5 > .input-box input {
  border: none;
  margin: 10px;
  outline: none;
}

.footer {
  width: 100%;
}

.footer > .wave {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .navbar > .logo {
    right: 0;
  }
  .main {
    width: 100vw;
  }
  #header-wave,
  #header-btn {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .slides img {
    width: 300px;
  }
  .section1 > .content {
    position: relative;
    display: block;
  }
  .section2 > .content {
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */

  }
  .section2 > .content > .icons > .ver-hr {
    display: none;
  }
  .section2 > .content > .icons{
    overflow: scroll;
    width: 100%;
    transform: translateY(-600px);
    position: absolute;
    flex-direction: row;
    gap: 20px;
  }
}

@keyframes waves-1 {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}
@keyframes waves-2 {
  from {
    right: 0;
  }
  to {
    right: 500px;
  }
}
