body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
.navbar h2 {
  color: #007f62;
  transform: translateX(-40px);
}

.navbar li {
  list-style: none;
  display: inline;
  margin: 0px 15px;
}
.logo {
  top: 0;
  right: 140px;
  position: absolute;
  z-index: -1;
}
.camel-logo img {
  top: 10px;
  right: 100px;
  width: 80px;
  position: absolute;
}
.header-wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar button {
  margin-right: 100px;
}

.orang-btn {
  width: 120px;
  height: 50px;
  color: white;
  border: none;
  outline: none;
  background-image: linear-gradient(to left, #e35325, #ff8a65);
  border-radius: 50px;
}

.main {
  width: 100%;
}
.section1 {
  width: 60%;
  margin: auto;
}

.section1 > .content {
  display: flex;
}

.section1 > .content > .description hr {
  background-color: #007f62;
  margin: 0;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.slides img {
  width: 500px;
}
.slid-count {
  text-align: center;
}
.dot {
  background-color: grey;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.section2 > .waves {
  position: relative;
  z-index: -1;
}
.section2 > .waves img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

#wave-1 {
  left: 0px;
  animation-name: waves-1;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
#wave-2 {
  animation-name: waves-2;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.section2 > .content {
  transform: translateY(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section2 > .content > .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 110px;
  height: 650px;
}
.section2 > .content > .icons > .icon-wrapper {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #007f62;
  background-color: white;
}
#hotel-wrapper {
  background-image: radial-gradient(#ff8a65, #ff8a65, white);
  border: none;
}
.section2 > .content > .icons > .icon-wrapper img {
  filter: invert(31%) sepia(50%) saturate(2467%) hue-rotate(144deg)
    brightness(87%) contrast(101%);
  width: 40px;
  height: 40px;
  margin: 15px;
}
.section2 > .content > .icons > .ver-hr {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 3px;
  background-image: radial-gradient(#007f62, white);
  z-index: -1;
}

.section2 > .content > .description {
  width: 430px;
  height: 220px;
}

.section3 {
  width: 100%;
  margin-top: 250px;
}
.section3 > .content {
  transform: translateY(-300px);
  height: 300px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
  margin: auto;
  border: 1px solid grey;
}
.section3 > .already {
  padding-top: 30px;
  line-height: 1.5rem;
  color: white;
  text-align: center;
  width: 100%;
  height: 300px;
  transform: translateY(-250px);
  -webkit-mask-image: url(./publics/images/022_bg_amadegisafar.svg);
  mask-image: url(./publics/images/022_bg_amadegisafar.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-image: linear-gradient(rgb(0, 48, 37, 0.8), rgb(0, 48, 37, 0.8)),
    url(./publics/images/023_amadegisafar.jpg);
}
.section3 > .already p {
  padding: 0 10%;
}

.section4 {
  text-align: center;
  transform: translateY(-250px);
}
.section4 > .content {
  margin: auto;
}
.section4 > .content p {
  padding: 0px 10%;
}
.section4 h1 {
  color: #007f62;
}
.section4 > .content > .album img {
  width: 100%;
}
.section4 > .content > .album > .img-wrapper {
  width: 300px;
}
.section4 > .content > .album {
  overflow-x: scroll;
  margin: 40px 40px;
  display: flex;
  gap: 30px;
}
.section4 > .content > .album::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.section4 > .content > .album img {
  /* box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.8); */
  border-radius: 10px;
  width: 300px;
}
.section4 > .content > .album img {
  /* box-shadow: 0px 10px 20px rgba(64, 242, 255, 0.8); */
}
.section4 > .content > .album > .after-image {
  padding: 20px;
  position: relative;
  width: 300px;
  border-radius: 10px;
}
.section4 > .content > .album > .after-image:hover::after {
  position: absolute;
  color: white;
  padding: 20px 0px 0px 0px;
  bottom: 23px;
  left: 20px;
  border-radius: 10px;
  background-color: rgba(80, 80, 80, 0.8);
  content: "تاریخی";
  font-size: large;
  width: 300px;
  height: 50px;
}
.section4 > .content > .album > .after-image:hover::before {
  position: absolute;
  box-shadow: 0px 0px 20px rgba(64, 242, 255, 0.8);
  color: white;
  bottom: 23px;
  left: 20px;
  border-radius: 10px;
  content: "";
  width: 300px;
  height: 80%;
}

.box-number {
  display: flex;
  justify-content: flex-end;
  width: 410px;
  height: 50px;
  border-radius: 50px;
  margin: 50px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
}
.box-number input {
  margin-left: 20px;
  outline: none;
  border: none;
  text-align: start;
}
.footer > .wave{
  position: relative;
}
.footer > .content{
  display: none;
}
#tweeter{
  bottom: 150px;
  left: 450px;
  position: absolute;
}
#telegram{
  bottom: 100px;
  left: 370px;
  position: absolute;
}

/****************************************/
/*********************************/
/*************************************/
@media screen and (max-width: 768px) {
  .navbar > .logo {
    right: 0;
  }
  .main {
    width: 100vw;
  }
  #header-wave,
  #header-btn {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .slides img {
    width: 300px;
  }
  .section1 > .content {
    position: relative;
    display: block;
  }
  .section2 > .content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .section2 > .content > .icons > .ver-hr {
    display: none;
  }
  .section2 > .content > .icons {
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    transform: translateY(-600px);
    position: absolute;
    flex-direction: row;
    gap: 20px;
  }
  .section2 > .content > .icons::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .section2 > .content > .description {
    text-align: center;
    width: 90%;
  }
  .section2 > .content > .description h2 {
    color: #007f62;
  }
  .section3 {
    transform: translateY(200px);
  }
  .section3 > img {
    display: none;
  }
  .section3 .already {
    transform: translateY(-250px);
    background-image: linear-gradient(rgb(0, 48, 37, 0.8), rgb(0, 48, 37, 0.8)),
      url(./publics/images/023_amadegisafar.jpg);
    height: 300px;
    mask-image: none;
    -webkit-mask-image: none;
  }
  .section4 {
    text-align: center;
    transform: translateY(0px);
  }

  /* .section4 > .content > .album > .after-image:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.8);
    content: "slama";
    width: 50px;
    height: 50px;
  } */
  .get-number{
    display: none;
  }
  .footer{
    text-align: center;
    padding: 20px;
    font-size: 32px;
    background-color:aquamarine ;

  }
  .footer > .content input{
    margin: auto auto 50px auto;
    display: flex;
    height: 50px;
    width: 80%;
    border-radius: 50px;
    text-align: center;
    font-size: large;
    outline: none;
    border: none;
    flex-direction: column;
  }
  .footer > .content{
    display: block;
  }

  .footer > .wave{
    position: relative;
  }
  .footer > .wave img{
    transform: scale(8);
    margin-top: 300px;
  }
}

@keyframes waves-1 {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}
@keyframes waves-2 {
  from {
    right: 0;
  }
  to {
    right: 500px;
  }
}
