body{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar ul{
    margin: 0;
    padding: 0;
}

.navbar li{
    list-style: none;
    display: inline;
    margin: 0px 15px;
}
.logo{
    top: 0;
    right: 100px;
    position: absolute;
}

.orang-btn{
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    outline: none;
    background-image: linear-gradient(to left, #e35325 , #ff8a65);
    border-radius: 20px;
}