body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.navbar li {
  list-style: none;
  display: inline;
  margin: 0px 15px;
}
.logo {
  top: 0;
  right: 120px;
  position: absolute;
  z-index: -1;
}
.camel-logo img {
  top: 10px;
  right: 120px;
  width: 80px;
  position: absolute;
}
.header-wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar button {
  margin-right: 100px;
}

.orang-btn {
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  outline: none;
  background-image: linear-gradient(to left, #e35325, #ff8a65);
  border-radius: 20px;
}

.main {
  width: 100%;
}
.section1 {
  width: 60%;
  margin: auto;
}

.section1 > .content {
  display: flex;
}

.section1 > .content > .description hr {
  background-color: #007f62;
  margin: 0;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.slides img {
  width: 500px;
}
.slid-count {
  text-align: center;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
}

.section2 > .waves {
  position: relative;
  z-index: -1;
}
.section2 > .waves img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.section2 > .content {
  transform: translateY(300px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section2 > .content > .icons {
  width: 110px;
  height: 650px;
  border: 1px solid grey;
}

.section2 > .content > .description {
  width: 430px;
  height: 220px;
  border: 1px solid grey;
}
.section3 {
  margin-top: 300px;
}
.section3 > .content {
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
  transform: translateY(-200px);
  margin: 0px auto;
  width: 70%;
  height: 300px;
  border: 1px solid grey;
}

.section4 img {
  transform: translateY(-300);
  margin: 0;
}
.mask1 {
  mask-mode: luminance;
  -webkit-mask-image: url("./publics/images/022_bg_amadegisafar.svg");
  mask-image: url("./publics/images/022_bg_amadegisafar.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
