body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
.navbar h2 {
  color: #007f62;
  transform: translateX(-40px);
}

.navbar li {
  list-style: none;
  display: inline;
  margin: 0px 15px;
}
.logo {
  top: 0;
  right: 140px;
  position: absolute;
  z-index: -1;
}
.camel-logo img {
  top: 10px;
  right: 100px;
  width: 80px;
  position: absolute;
}
.header-wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar button {
  margin-right: 100px;
}

.orang-btn {
  width: 120px;
  height: 50px;
  color: white;
  border: none;
  outline: none;
  background-image: linear-gradient(to left, #e35325, #ff8a65);
  border-radius: 50px;
}

.main {
  width: 100%;
}
.section1 {
  width: 60%;
  margin: auto;
}

.section1 > .content {
  display: flex;
}

.section1 > .content > .description hr {
  background-color: #007f62;
  margin: 0;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.slides img {
  width: 500px;
}
.slid-count {
  text-align: center;
}
.dot {
  background-color: grey;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.section2 > .waves {
  position: relative;
  z-index: -1;
}
.section2 > .waves img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

#wave-1 {
  left: 0px;
  animation-name: waves-1;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
#wave-2 {
  animation-name: waves-2;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.section2 > .content {
  transform: translateY(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section2 > .content > .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 110px;
  height: 650px;
}
.section2 > .content > .icons > .icon-wrapper {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #007f62;
  background-color: white;
}
#hotel-wrapper {
  background-image: radial-gradient(#ff8a65, #ff8a65, white);
  border: none;
}
.section2 > .content > .icons > .icon-wrapper img {
  filter: invert(31%) sepia(50%) saturate(2467%) hue-rotate(144deg)
    brightness(87%) contrast(101%);
  width: 40px;
  height: 40px;
  margin: 15px;
}
.section2 > .content > .icons > .ver-hr {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 3px;
  background-image: radial-gradient(#007f62, white);
  z-index: -1;
}

.section2 > .content > .description {
  width: 430px;
  height: 220px;
}

.section3 {
  width: 100%;
  margin-top: 250px;
}
.section3 > .content {
  transform: translateY(-300px);
  height: 300px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.8);
  margin: auto;
  border: 1px solid grey;
}
.section3 > .already {
  padding-top: 30px;
  line-height: 1.5rem;
  color: white;
  text-align: center;
  width: 100%;
  height: 300px;
  transform: translateY(-250px);
  -webkit-mask-image: url(./publics/images/022_bg_amadegisafar.svg);
  mask-image: url(./publics/images/022_bg_amadegisafar.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-image: linear-gradient(rgb(0, 48, 37, 0.8), rgb(0, 48, 37, 0.8)),
    url(./publics/images/023_amadegisafar.jpg);
}
.section3 > .already p{
 padding: 0 10%;
}

.section4{
  text-align: center;
  transform: translateY(-250px);
}
.section4 > .content{
  margin: auto;
  
}
.section4 > .content p{
  padding: 0px 10%;

}
.section4 h1{
  color: #007f62;
}.section4 > .content > .album img{
  width: 100%;
}
.section4 > .content > .album > .img-wrapper{
  width: 300px;
}
.section4 > .content > .album{
  overflow-x: scroll;
  margin: 40px 40px;
  display: flex;
  gap: 10px;
}
.section4 > .content > .album img{
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.8);

  width: 300px;
}
.section4 > .content > .album > .image{
  height: 100px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.8);
}
/* .section4 > .content img:hover::after{

  cursor: pointer;
} */
.section4 > .content > .album img:hover{
  content: 'salam';
  cursor: pointer;
 

}


/****************************************/
/*********************************/
/*************************************/
@media screen and (max-width: 768px) {
  .navbar > .logo {
    right: 0;
  }
  .main {
    width: 100vw;
  }
  #header-wave,
  #header-btn {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .slides img {
    width: 300px;
  }
  .section1 > .content {
    position: relative;
    display: block;
  }
  .section2 > .content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .section2 > .content > .icons > .ver-hr {
    display: none;
  }
  .section2 > .content > .icons {
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    transform: translateY(-600px);
    position: absolute;
    flex-direction: row;
    gap: 20px;
  }
  .section2 > .content > .icons::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .section2 > .content > .description {
    text-align: center;
    width: 90%;
  }
  .section2 > .content > .description h2 {
    color: #007f62;
  }
  .section3 {
    transform: translateY(200px);
  }
  .section3 > img {
    display: none;
  }
  .section3 .already {
    transform: translateY(-250px);
    background-image: linear-gradient(rgb(0, 48, 37, 0.8), rgb(0, 48, 37, 0.8)),
      url(./publics/images/023_amadegisafar.jpg);
    height: 300px;
    mask-image: none;
    -webkit-mask-image: none;
  }
  .section4{
    text-align: center;
    transform: translateY(0px);
  }
  
}

@keyframes waves-1 {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}
@keyframes waves-2 {
  from {
    right: 0;
  }
  to {
    right: 500px;
  }
}
